@import url(https://fonts.googleapis.com/css?family=Roboto);
.material-tabs h1, h2, h3, h4 {
  padding: 0;
  margin: .1rem 0;
  border-left: 4px solid #428bff;
  padding-left: 8px;
}

.material-tabs {
  display: block;
  float: left;
  padding: 16px;
  padding-top: 0;
  width: 100%;
  max-width: 100%;
  left: calc(50% - 100%/2);
  position: relative;
  margin: 32px auto;
  background: #fff;
}

@media all and (max-width: 480px) {
  .material-tabs {
    max-width: 100%;
    left: 0;
  }
}

.visible {
  position: relative;
  opacity: 1;
  width: 100%;
  height: auto;
  float: left;
  transition: opacity .35s ease;
  z-index: 3;
  padding: 0 2rem;
}

.hidden {
  display: none;
  position: absolute;
  opacity: 0;
  z-index: 0;
  transition: opacity 0s ease;
}

.hidden img {
  display: none;
}

[class*="tabbed-section-"] {
  float: left;
  color: #000;
}

[class*="tabbed-section-"] img {
  display: block;
  width: 80%;
  margin: auto 10%;
}

.tabbed-section__selector {
  position: relative;
  height: 48px;
  left: -16px;
  padding: 0;
  margin: 0;
  width: 100%;
  float: left;
  max-width: 600px;
  left: calc(50% - 600px/2);
}

.tabbed-section__selector [class*="-tab-"] {
  float: left;
  display: block;
  height: 32px;
  line-height: 32px;
  width: 200px;
  text-align: center;
  background: #fff;
  font-weight: bold;
  text-decoration: none;
  color: #929daf;
  font-size: 18px;
  cursor: pointer;
}

.tabbed-section__selector [class*="-tab-"].active {
  color: #428bff;
}

.tabbed-section__selector a:first-child {
  border-top-left-radius: 2px;
}

.tabbed-section__selector a:last-of-type {
  border-top-right-radius: 2px;
}

.tabbed-section__highlighter {
  position: absolute;
  z-index: 10;
  bottom: 0;
  height: 5px;
  background: #428bff;
  max-width: 60px;
  width: 100%;
  transform: translateX(0);
  display: block;
  left: 70px;
  transition: transform .23s ease;
}

.row.d-xl-flex.cont {
  width: 100%;
  margin: 0;
  padding: 50px 0px;
}

@media (max-width: 576px) {
  .tabbed-section__highlighter {
    display: none;
  }
  .tabbed-section__selector {
    left: 0;
    float: none;
  }
  .tabbed-section__selector [class*="-tab-"] {
    width: 100%;
  }
  .visible {
    padding: 0px;
  }
  .row.d-xl-flex.cont {
    padding: 0px;
  }
}

.tabbed-section__selector-tab-3.active ~ .tabbed-section__highlighter {
  transform: translateX(400px);
}

.tabbed-section__selector-tab-2.active ~ .tabbed-section__highlighter {
  transform: translateX(200px);
}

.tabbed-section__selector-tab-1.active ~ .tabbed-section__highlighter {
  transform: translateX(0);
}

.divider {
  background: rgba(0, 0, 0, 0.1);
  position: relative;
  display: block;
  float: left;
  width: 100%;
  height: 1px;
  margin-top: 10px;
  margin-bottom: 30px;
  padding: 0;
  overflow: hidden;
}
